.Verse {
	position: relative;
}
.Verse.heading {
	direction: rtl;
	font-family: "Scheherazade";
}
.Verse .verse-arabic {
	flex: 2;
}

.Verse .ayah.ur,
.Verse .ayah.ar {
	font-family: "Scheherazade";
	font-size: 50px;
	direction: rtl;
	padding: 20px;
}
.Verse .ayah {
	font-family: "Scheherazade";
	font-size: 50px;
	padding: 15px 20px;
	direction: rtl;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.Verse .ayahContainer {
  display: flex;
  align-items: center;
}
.Verse .ayahStop {
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  background: #FFA134;
  color: white;
  font-family: "Roboto, sans";
  font-size: 14px;
  text-align: center;
  font-weight: bolder;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right:10px
}

.Verse .even{
  background: #F3F3F3;
}
.Verse .highlight {
	background: transparent;
}
.Verse .wordbywordContainer {
	display: flex;
	justify-content: right;
	flex-flow: row wrap;
}
.Verse .ayahWord {
	padding: 10px;
	margin: 5px;
	background: #b7d8ef;
}
.Verse .wordbywordContainer + .ayahContainer {
	position: absolute;
	left: 10px;
	top: 30%;
}

.Verse span.h,
.Verse span.s,
.Verse span.l {
	color: #aaaaaa;
	cursor: pointer;
}
.Verse span.n {
	color: #537fff;
	cursor: pointer;
}

.Verse span.p {
	color: #4050ff;
	cursor: pointer;
}

.Verse span.q {
	color: #dd0008;
	cursor: pointer;
}

.Verse span.o {
	color: #2144c1;
	cursor: pointer;
}

.Verse span.c {
	color: #d500b7;
	cursor: pointer;
}
.Verse span.f {
	color: #9400a8;
	cursor: pointer;
}

.Verse span.w {
	color: #58b800;
	cursor: pointer;
}

.Verse span.i {
	color: #26bffd;
	cursor: pointer;
}

.Verse span.a {
	color: #169200;
	cursor: pointer;
}

.Verse span.u {
	color: #169200;
	cursor: pointer;
}

.Verse span.d {
	color: #a1a1a1;
	cursor: pointer;
}

.Verse span.b {
	color: #a1a1a1;
	cursor: pointer;
}

.Verse span.g {
	color: #ff7e1e;
	cursor: pointer;
}

.Verse .ayah span div {
	/* display: inline; */
}
